<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Quản lý nhân viên</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        ></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="dropdownId"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Dropdown</a
              >
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="#">Action 1</a>
                <a class="dropdown-item" href="#">Action 2</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <header class="display-4 my-4">Quản lý nhân viên</header>
      <!-- Phan tab menu -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            href="#DanhSachNV"
            role="tab"
            data-toggle="tab"
            >Danh sách nhân viên</a
          >
        </li>
      </ul>
      <br />
      <!-- Tab panes -->
      <div class="tab-content">
        <!--Danh sách sản phẩm -->
        <div role="tabpanel" class="tab-pane in active" id="DanhSachNV">
          <div class="row">
            <div class="col-md-8">
              <!-- BEGIN BUTTOM THÊM NHÂN VIÊN -->
              <button
                id="btnThemNV"
                class="btn btn-success"
                data-toggle="modal"
                data-target="#myModal"
              >
                <i class="fa fa-plus mr-1"></i>
                Thêm nhân viên
              </button>
              <!-- END BUTTON THÊM NHÂN VIÊN -->
            </div>
            <div class="col-md-4">
              <!-- BEGIN TÌM KIẾM -->
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nhập từ khóa"
                  aria-label="Recipient's username"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2"
                    ><i class="fa fa-search"></i
                  ></span>
                </div>
              </div>
              <!-- END TÌM KIẾM -->
            </div>
          </div>
          <div class="clear-fix"></div>
          <div class="tblNhanVien" id="tblNhanVien">
            <!-- BEGIN TABLE NHÂN VIÊN -->
            <table class="table table-bordered text-white bg-primary">
              <thead>
                <th>Mã nhân viên</th>
                <th>Tên nhân viên</th>
                <th>Chức vụ</th>
                <th>Lương cơ bản</th>
                <th>Tổng lương</th>
                <th>Giờ làm/tháng</th>
                <th>Xếp loại nhân viên</th>
                <th>Sửa / Xóa nhân viên</th>
              </thead>
              <tbody id="tblDanhSachNV" class="bg-white text-dark"></tbody>
            </table>
            <!-- END TABLE NHÂN VIÊN -->
          </div>
          <br />
        </div>
        <!-- Kết thúc danh sách nhân viên -->
      </div>

      <!--KetThuc Tabmenu-->

      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header bg-dark">
              <h4 class="modal-title text-white">Thêm nhân viên</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <form id="formNV" role="form">
                <div class="form-group">
                  <label>Mã nhân viên</label>
                  <input
                    id="MaNV"
                    class="form-control"
                    placeholder="Nhập mã nhân viên"
                  />
                </div>
                <div class="form-group">
                  <label>Tên nhân viên</label>
                  <input
                    id="TenNV"
                    class="form-control"
                    placeholder="Nhập tên nhân viên"
                  />
                </div>
                <div class="form-group">
                  <label>Chức vụ</label>
                  <select class="form-control" id="ChucVu">
                    <option value="1">Nhân viên</option>
                    <option value="2">Quản lý</option>
                    <option value="3">Giám đốc</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Lương cơ bản</label>
                  <input
                    id="LuongNV"
                    class="form-control"
                    placeholder="Nhập lương cơ bản"
                  />
                </div>
                <div class="form-group">
                  <label>Số giờ làm trong tháng</label>
                  <input
                    id="GioLam"
                    class="form-control"
                    placeholder="Nhập số giờ làm trong tháng"
                  />
                </div>
              </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="container"></div>
    <style>
      #container {
        min-width: 310px;
        max-width: 800px;
        height: 400px;
        margin: 0 auto;
      }
    </style>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- Axios -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.2/axios.min.js"
      integrity="sha512-NCiXRSV460cHD9ClGDrTbTaw0muWUBf/zB/yLzJavRsPNUl9ODkUVmUHsZtKu17XknhsGlmyVoJxLg/ZQQEeGA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../models/employee.js"></script>
    <script src="../services/callapi.js"></script>
    <script src="../controllers/main.js"></script>
  </body>
</html>
